@import '@/assets/css/base-variable.scss';

header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid $borderColor;
  color: $fontColor;
  div.top {
    height: 100px;
    width: 100%;
    .top_inner{
      @include responseWidth;
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      .logo{
        height: 40px;
        width: 100px;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: -1px;

      ul.nav {
        li {
          float: left;
          padding: 0px 10px;

          a {
            padding: 0 5px;
            color: $fontColor;
            @include transition;
            padding-bottom: 5px;
            float: left;

            &:hover,
            &.active {
              font-weight: 700;
              color: $activeColor;
            }

            &.active {
              border-bottom: 2px solid $activeColor;
            }
          }
        }
      }
    }
    ul.social {
      box-sizing: border-box;
      display: flex;
      justify-content: right;
      li {
        float: right;
        padding-left: 20px;
        line-height: 20px;

        @media screen and(max-width:767px) {
          line-height: 25px;
        }

        a {
          font-size: 14px;
          color: $fontColor;
          @include transition;
          display: flex;
          border: 1px solid $fontColor;
          padding: 2px 10px;
          border-radius: 2px;
          svg {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            path{
              fill: $fontColor;
            }
          }
          &:hover {
            color: $buttonActiveColor;
            background: $fontColor;
            svg{
              width: 18px;
              height: 18px;
              path{
                fill: $buttonActiveColor;
              }
            }
          }
          
        }
      }
    }
    .fork{
      @media screen and (max-width: 950px) {
        display: none;
      }
    }
  }
}