$borderColor:#eaeefb;
$fontColor: #222222;
$activeColor: #294696;
$articleColor: #272829;
$codeFontSize: 16px;
$articleFontSize: 16px;
$titleColor: #272829;
$buttonActiveColor: #eee;
@mixin transition {
  transition: all .2s ease-in-out;
}
@mixin responseWidth {
  @media screen  and (max-width: 767px){
    width: 100%;
  }
  @media screen  and (min-width: 768px){
    width: 750px;
  }
  @media screen  and (min-width: 992px){
    width: 970px;
  }
  @media screen and (min-width : 1200px){
    width: 1170px;
  }
}
@mixin smallScreenHide {
  @media screen  and (max-width: 767px){
    display: none;
  }
}
@mixin smallScreenFontSmall {
  @media screen  and (max-width: 767px){
    font-size:12px;
  }
  @media screen  and (min-width: 768px){
    font-size:14px;
  }
  @media screen  and (min-width: 992px){
    font-size:16px;
  }
  @media screen and (min-width : 1200px){
    font-size:16px;
  }
}
@mixin bigScreenHide {
  @media screen  and (min-width: 768px){
    display: none;
  }
  @media screen  and (min-width: 992px){
    display: none;
  }
  @media screen and (min-width : 1200px){
    display: none;
  }
}
