@import './base-variable.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: #f6f6f6;
}

ol,
ul {
  list-style: none
}
div.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.main{
  @include responseWidth;
  margin: 40px auto 20px;
  flex: 1;
}
